<footer>
    <section class="footer-section">
        <p>
            📖 Missing a book? Request <a href="./requestbook.html">here</a>.
        </p>
    </section>

    <section class="footer-section">
        <div class="footer-contactlink">
            <a href="https://http.cat/images/501.jpg">Facebook</a>
            <p>&nbsp;|&nbsp;</p>
            <a href="https://http.cat/images/102.jpg">Instagram</a>
            <p>&nbsp;|&nbsp;</p>
            <a href="https://http.cat/images/429.jpg">Contact</a>
            <p>&nbsp;|&nbsp;</p>
            <a href="https://http.cat/images/404.jpg">About</a>
        </div>
    </section>
</footer>